/*css default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*container-body*/

/*header*/
.dark {
    background-color: #2c3e50;
}

.btn {
    font-size: 2rem;
}

.bi-list {
    font-size: 2rem;
}

/*/header*/

/*main*/

.bi-star-fill::after,
.bi-star-fill::before {
    content: '';
    display: inline-block;
    height: 2px;
    width: 25%;
    border: 1px solid #fff;
    border-radius: 2px;
    vertical-align: middle;
}

.bg-9c {
    background-color: #1abc9c;
}

.bk-bg-secondary {
    background-color: #1abc9c;
}

/*/main*/