/*css default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
}

col {
    display: flex;
    flex-direction: column;
}

/*container-body*/

/*header*/
.bg-dark {
    background-color: (210deg 29% 24%);
}

.btn {
    font-size: 2rem;
}

.bi-list {
    font-size: 2rem;
}

/*/header*/

/*main*/
.bg-9c {
    background-color: #1abc9c;
}

/*/main*/