/*css default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*container-body*/

/*bg*/

.bts-bg-green {
    background-color: #1abc9c;
    color: #fff;
}

.bts-bg-dark {
    background-color: #2c3e50;
    color: #fff;
}

.bts-bg-light-dark {
    background-color: #3a546d;
    color: #fff;
}

/*content*/

.bts-avatar {
    max-width: 250px;
}

.bts-star-wing {
    display: inline-block;
    height: 2px;
    width: 25%;
    border: 1px solid white;
    border-radius: 2px;
}

.bts-star {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.bts-star::before,
.bts-star::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 25%;
    border: 1px solid white;
    border-radius: 2px;
    vertical-align: middle;
}

.bts-star.bts-black-border::before,
.bts-star.bts-black-border::after {
    border: 1px solid black;
}

.btn-outline-9c {
    color: #fff;
}

.bi-download{
    
}

/*footer*/

.bi-social {
    border-radius: 50%;
    border: 3px solid #fff;
}

#ft-color-link {
    text-decoration: none;
    color: #1abc9c;
}

/*/footer*/